body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
	--svart: #000;
	--granitt: #1b1917;
	--skifer: #313030;
	--fjellgra: #444141;
	--stein: #636060;
	--svaberg: #c8c5c3;
	--varde: #e0dbd4;
	--dis: #ece9e5;
	--sand: #f4f2ef;
	--snohvit: #f9f9f9;
	--hvit: #fff;
}